
@keyframes row-main-show {
    0% {
        display: none;
        right: -100%;
    }
    1% {
        display: block;
    }
    100% {
        right: 0;
    }
}

@keyframes row-main-hide {
    0% {
        display: block;
        left: 0;
    }
    99% {
        left: -100%;
    }
    100% {
        display: none;
    }
}