<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Клиенты ГБА - LiveChat</title>
	<meta name="description" content="Responsive, Bootstrap, BS4" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- for ios 7 style, multi-resolution icon of 152x152 -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
	<link rel="apple-touch-icon" href="img/logo.svg">
	<meta name="apple-mobile-web-app-title" content="Flatkit">

	<!-- for Chrome on Android, multi-resolution icon of 196x196 -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

	<!-- style -->
	<link rel="stylesheet" href="/css/Operator/animate.css/animate.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/glyphicons/glyphicons.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/magnific-popup/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/font-awesome/css/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/material-design-icons/material-design-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/ionicons/css/ionicons.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/simple-line-icons/css/simple-line-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/ekko-lightbox/ekko-lightbox.css" type="text/css" />

	<!-- build:css css/styles/app.min.css -->
	<link rel="stylesheet" href="/css/Operator/styles/app.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/styles/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/styles/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/styles/jquery.mCustomScrollbar.min.css" type="text/css" />

	<!-- endbuild -->
	<link rel="stylesheet" href="/css/Operator/styles/font.css" type="text/css" />

</head>
<body>

<!-- ############ LAYOUT START-->
<div id="operator"></div>

<!-- build:js scripts/app.min.js -->

<!-- jQuery -->
<script src="js/library/Operator/jquery.js"></script>

<!-- Vue JS -->
<script src="js/library/vue.js"></script>

<!-- Axios -->
<script src="js/library/axios.min.js"></script>

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>

<!-- Bootstrap -->
<script src="js/library/Operator/tether.min.js"></script>
<script src="js/library/Operator/bootstrap.js"></script>

<!-- core -->
<script src="js/library/Operator/jquery.storageapi.min.js"></script>
<script src="js/library/Operator/jquery.blockUI.js"></script>
<script src="js/library/Operator/jquery.jscroll.min.js"></script>
<script src="js/library/Operator/jquery.magnific-popup.min.js"></script>
<script src="js/library/Operator/ekko-lightbox.js"></script>
<script src="js/library/Operator/perfect-scrollbar.js"></script>
<script src="js/library/Operator/underscore.min.js"></script>
<script src="js/library/Operator/ui-toggle-class.js"></script>
<script src="js/library/Operator/ui-nav.js"></script>
<script src="js/library/Operator/file.size.js"></script>

<script src="js/library/Operator/app.js"></script>
<script src="js/library/Operator/app-engine.js"></script>

<!--<script src="js/main.js"></script>-->
<script src="/dist/build.js"></script>

<!-- endbuild -->

</body>
</html>