<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Library --> 
    <link rel="stylesheet" href="/css/mobile/library/font-awesome/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/mobile/main/animate.css" type="text/css" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/mobile/main/index.css" type="text/css" />
    <title>Клиентский чат</title>
</head>
<body>

    <!-- MOBILE APP -->
    <div id="app">

        <!-- LOADER PAGE -->
        <div class="row-main" id="preloader" v-if="!startLoader">
             <div class="row-body">
                  <img src="img/shape.svg">
             </div>
        </div>
        <!-- END LOADER PAGE -->

        <!-- HOME PAGE -->
        <div class="row-main visible" id="chat">
            <div class="row-header">
                <div class="row-icon">
                    <span class="icon-link" data-page="setting" data-action="open" v-on:click="openNewTab"></span>
                    <span class="icon-text">
                        <i class="fa fa-bars"></i>
                        <label>Меню</label>
                    </span>
                </div>
                <div class="row-text">
                    <span>Ассистент</span>
                </div>
                <div class="row-icon">
                    <span class="icon-link" data-page="job" data-action="open" v-on:click="openNewTab"></span>
                    <span class="icon-text">
                        <label>Задачи</label>
                        <span class="span-count-task"></span>
                    </span>
                </div>
            </div>
            <div class="row-content">
                <div class="row-body">
                    <div class="row-inner" ref="messages">
                        <div class="box-message" v-if="messages.length">
                            <message-stack
                                v-for="(m, idx) in messages"
                                :item="m"
                                :user="user"
                                :index="idx"
                                :config="config"
                                :key="idx"
                            ></message-stack>
                        </div>
                        <div class="box-message" v-else>
                            <message-welcome
                                 :user="user"
                            ></message-welcome>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-footer" ref="footer">
                <div class="row-reply" v-if="Object.keys(replyMessage).length !== 0">
                    <div class="row-icon">
                        <img src="img/ic-quote_arrow.svg"/>
                    </div>
                    <div class="row-body">
                        <span class="row-header">По задаче</span>
                        <span class="row-text">{{replyMessage.body}}</span>
                    </div>
                    <div class="row-icon" @click="replyClose()">
                        <img src="img/ic-quote_close.svg"/>
                    </div>
                </div>
                <div class="row-button">
                    <div class="row-icon">
                        <input type="file" multiple @change="initializeUploadFile($event, previews, uploads)">
                        <img src="img/ic-attach_active.svg" v-if="previews.length"/>
                        <img src="img/ic-attach_disabled.svg" v-else/>
                        <!--<span class="icon-count" v-if="previews.length">{{previews.length}}</span>-->
                    </div>
                    <div class="row-text">
                        <div class="row-inline" :class="{active: previews.length}" v-show="previews.length">
                            <div class="row-wrapper">
                                <div class="row-scroll" ref="attachments">
                                    <view-file
                                            v-for="(m, idx) in previews"
                                            :item="m"
                                            :key="idx"
                                            :tmp="previews"
                                            :arr="uploads"
                                    ></view-file>
                                </div>
                            </div>
                        </div>
                        <textarea type="text" class="send-message" placeholder="Написать сообщение" v-model.trim="message" @keydown.enter="sendMessage(false)" ref="textarea"></textarea>
                    </div>
                    <div class="row-icon" @click="sendMessage(false)">
                        <img src="img/ic-send_message.svg"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HOME PAGE -->

        <!-- SETTING PAGE -->
        <div class="row-main" id="setting">
            <div class="row-header">
                <div class="row-top">
                    <div class="row-icon">
                        <span class="icon-link" data-page="chat" data-action="close" v-on:click="openNewTab"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="18" viewBox="0 0 12 21"><defs><path id="xww7a" d="M12.62 42.5l7.94-7.94a1.5 1.5 0 1 0-2.12-2.12l-9 9a1.5 1.5 0 0 0 0 2.12l9 9a1.5 1.5 0 1 0 2.12-2.12z"></path></defs><g><g transform="translate(-9 -32)"><use fill="#a8abb9" xlink:href="#xww7a"></use></g></g></svg>
                    </div>
                    <div class="row-text">
                        <span>Настройки</span>
                    </div>
                </div>
            </div>
            <div class="row-content">
                <div class="row-body">
                    <div class="row-inner">
                        <div class="row-box" v-if="triggerDev" style="height: 100%">
                            <div class="row-developer">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                                <span>Данный раздел находится в режиме разработки.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SETTING PAGE -->

        <!-- TASK PAGE -->
        <div class="row-main" id="job">
            <div class="row-header">
                <div class="row-top">
                    <div class="row-icon">
                        <span class="icon-link" data-page="chat" data-action="close" v-on:click="openNewTab"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="18" viewBox="0 0 12 21"><defs><path id="xww7a" d="M12.62 42.5l7.94-7.94a1.5 1.5 0 1 0-2.12-2.12l-9 9a1.5 1.5 0 0 0 0 2.12l9 9a1.5 1.5 0 1 0 2.12-2.12z"></path></defs><g><g transform="translate(-9 -32)"><use fill="#a8abb9" xlink:href="#xww7a"></use></g></g></svg>
                    </div>
                    <div class="row-text">
                        <span>Задачи</span>
                    </div>
                </div>
                <div class="row-tab">
                    <div class="row-tap active" data-tab="client" v-on:click="changeTab">
                        <span>Для меня</span>
                    </div>
                    <div class="row-tap" data-tab="booker" v-on:click="changeTab">
                        <span>Для бухгалтера</span>
                    </div>
                </div>
            </div>
            <div class="row-content">
                <div class="row-body">
                    <div class="row-inner">
                        <div class="row-tab visible" id="client">
                            <div class="row-box">
                                <span class="row-label">Предстоящие задачи</span>
                                <div class="row-list" data-type="incomplete" v-if="plannerList.client.incomplete.length">
                                    <incomplete-task
                                        v-for="(p, idx) in plannerList.client.incomplete"
                                        :item="p"
                                        :key="idx"
                                    ></incomplete-task>
                                </div>
                                <div class="row-list" v-else>
                                    <div class="row-none">
                                        <span>Предстоящие задачи отсутствуют</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row-box">
                                <span class="row-label">Выполненные дела</span>
                                <div class="row-list accepted" data-type="complete" v-if="plannerList.client.complete.length">
                                    <complete-task
                                        v-for="(p, idx) in plannerList.client.complete"
                                        :item="p"
                                        :key="idx"
                                    ></complete-task>
                                </div>
                                <div class="row-list" v-else>
                                    <div class="row-none">
                                        <span>Выполненные задачи отсутствуют</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-tab" id="booker">
                            <div class="row-box">
                                <span class="row-label">Предстоящие задачи</span>
                                <div class="row-list" data-type="incomplete" v-if="plannerList.booker.incomplete.length">
                                    <incomplete-task
                                            v-for="(p, idx) in plannerList.booker.incomplete"
                                            :item="p"
                                            :key="idx"
                                    ></incomplete-task>
                                </div>
                                <div class="row-list" v-else>
                                    <div class="row-none">
                                        <span>Предстоящие задачи отсутствуют</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row-box">
                                <span class="row-label">Выполненные дела</span>
                                <div class="row-list" data-type="complete" v-if="plannerList.booker.complete.length">
                                    <complete-task
                                            v-for="(p, idx) in plannerList.booker.complete"
                                            :item="p"
                                            :key="idx"
                                    ></complete-task>
                                </div>
                                <div class="row-list">
                                    <div class="row-none">
                                        <span>Выполненные задачи отсутствуют</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TASK PAGE -->

        <!-- TASK INFO PAGE -->
        <div class="row-main" id="detail">
            <div class="row-header">
                <div class="row-top">
                    <div class="row-icon">
                        <span class="icon-link" data-page="job" data-action="close" v-on:click="openNewTab"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="18" viewBox="0 0 12 21"><defs><path id="xww7a" d="M12.62 42.5l7.94-7.94a1.5 1.5 0 1 0-2.12-2.12l-9 9a1.5 1.5 0 0 0 0 2.12l9 9a1.5 1.5 0 1 0 2.12-2.12z"></path></defs><g><g transform="translate(-9 -32)"><use fill="#a8abb9" xlink:href="#xww7a"></use></g></g></svg>
                    </div>
                    <div class="row-text">
                        <img src="img/ic-booker_task.svg" v-if="openPlanner.whose">
                        <img src="img/ic-my_task.svg" v-else>
                        <span>{{openPlanner.header}}</span>
                    </div>
                </div>
            </div>
            <div class="row-content">
                <div class="row-body">
                    <div class="row-inner" ref="commentList">
                        <div class="row-box">
                            <div class="row-header">
                                <ul class="row-list">
                                    <li>
                                        <div class="list-header">Номер задачи</div>
                                        <div class="list-text">{{openPlanner.id}}</div>
                                    </li>
                                    <li>
                                        <div class="list-header">Задача поставлена</div>
                                        <div class="list-text">{{openPlanner.data_create}}</div>
                                    </li>
                                    <li>
                                        <div class="list-header">Статус задачи</div>
                                        <div class="list-text" v-if="openPlanner.status === 1"> В работе</div>
                                        <div class="list-text" v-else> Завершена</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row-comment">
                                <label>Комментарии к задаче</label>
                                <div class="row-preloader" v-if="detailLoad">
                                    <span><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></span>
                                </div>
                                <div class="row-list" v-else>
                                    <div class="row-error" v-if="!openPlanner.comment.length">Комментарии отсутствуют</div>
                                    <planner-stack
                                            v-for="(m, idx) in openPlanner.comment"
                                            :item="m"
                                            :user="user"
                                            :index="idx"
                                            :key="idx"
                                            v-else
                                    ></planner-stack>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-footer" v-show="!detailLoad" ref="footerComment">
                <div class="row-button">
                    <div class="row-icon">
                        <input type="file" multiple @change="initializeUploadFile($event, commentPreviews, commentUploads, true)">
                        <img src="img/ic-attach_active.svg" v-if="commentPreviews.length"/>
                        <img src="img/ic-attach_disabled.svg" v-else/>
                    </div>
                    <div class="row-text">
                        <div class="row-inline" :class="{active: commentPreviews.length}" v-show="commentPreviews.length">
                            <div class="row-wrapper">
                                <div class="row-scroll" ref="attachmentsComment">
                                    <view-file
                                            v-for="(m, idx) in commentPreviews"
                                            :item="m"
                                            :key="idx"
                                            :tmp="commentPreviews"
                                            :arr="commentUploads"
                                    ></view-file>
                                </div>
                            </div>
                        </div>
                        <textarea type="text" class="send-message" placeholder="Написать сообщение" v-model.trim="commentMessage" @keydown.enter="sendComment()" ref="textareaComment"></textarea>
                    </div>
                    <div class="row-icon" @click="sendComment()">
                        <img src="img/ic-send_message.svg"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TASK INFO PAGE -->

    </div>
    <!-- END MOBILE APP -->

<!-- jQuery -->
<script src="js/mobile/library/jquery.js"></script>

<!-- Vue JS-->
<script src="js/mobile/library/vue.js"></script>

<!-- Socket -->
<script src="socket.io/socket.io.js"></script>

<!-- Library -->
<script src="js/mobile/library/axios.min.js"></script>
<script src="js/mobile/library/jquery.events.min.js"></script>
<script src="js/mobile/library/file.size.js"></script>
<script src="js/mobile/library/autosize.js"></script>

<!-- -->
<script src="js/mobile/main/index.js"></script>

</body>
</html>