@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@keyframes row-main-show {
    0% {
        display: none;
        right: -100%;
    }
    1% {
        display: block;
    }
    100% {
        right: 0;
    }
}

@keyframes row-main-hide {
    0% {
        display: block;
        left: 0;
    }
    99% {
        left: -100%;
    }
    100% {
        display: none;
    }
}
.in-new-enter-active, .in-new-leave-active {
    transition: opacity .5s;
}
.in-new-enter, .in-new-leave-to  {
    opacity: 0;
}