@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@keyframes row-main-show {
    0% {
        display: none;
        right: -100%;
    }
    1% {
        display: block;
    }
    100% {
        right: 0;
    }
}

@keyframes row-main-hide {
    0% {
        display: block;
        left: 0;
    }
    99% {
        left: -100%;
    }
    100% {
        display: none;
    }
}

@keyframes show-status {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes new-message {
    0% {
        top: calc(var(--msg-content-height) - var(--msg1-height));
        left: -4em;
        transform: scale(0);
    }
    5% {
        top: calc(var(--msg-content-height) - var(--msg1-height));
        left: 0;
        transform: scale(1);
    }
    12% {
        top: calc(var(--msg-content-height) - var(--msg1-height));
    }
    17% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height));
    }
    30% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height));
    }
    35% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
    }
    49% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
    }
    54% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
    }
    70% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
    }
    75% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
    }
    95% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
    }
    100% {
        top: 0;
        left: 0;
    }
}

