@font-face {
    font-family: 'Linearicons';
    src: url('../library/fonts/Linearicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText';
    src: url('../library/fonts/SFUIText-Regular.eot');
    src: url('../library/fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/SFUIText-Regular.woff') format('woff'),
    url('../library/fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUITheader';
    src: url('../library/fonts/SFUIText-Semibold.eot');
    src: url('../library/fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/SFUIText-Semibold.woff') format('woff'),
    url('../library/fonts/SFUIText-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUITlight';
    src: url('../library/fonts/SFUIText-Light.eot');
    src: url('../library/fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/SFUIText-Light.woff') format('woff'),
    url('../library/fonts/SFUIText-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUITMedium';
    src: url('../library/fonts/SFUIText-Medium.eot');
    src: url('../library/fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/SFUIText-Medium.woff') format('woff'),
    url('../library/fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUITBold';
    src: url('../library/fonts/SFUIText-Bold.eot');
    src: url('../library/fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/SFUIText-Bold.woff') format('woff'),
    url('../library/fonts/SFUIText-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Bold.eot');
    src: url('../library/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Bold.woff2') format('woff2'),
    url('../library/fonts/Roboto-Bold.woff') format('woff'),
    url('../library/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-BoldItalic.eot');
    src: url('../library/fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../library/fonts/Roboto-BoldItalic.woff') format('woff'),
    url('../library/fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-BlackItalic.eot');
    src: url('../library/fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../library/fonts/Roboto-BlackItalic.woff') format('woff'),
    url('../library/fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-ThinItalic.eot');
    src: url('../library/fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../library/fonts/Roboto-ThinItalic.woff') format('woff'),
    url('../library/fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Light.eot');
    src: url('../library/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Light.woff2') format('woff2'),
    url('../library/fonts/Roboto-Light.woff') format('woff'),
    url('../library/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Thin.eot');
    src: url('../library/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Thin.woff2') format('woff2'),
    url('../library/fonts/Roboto-Thin.woff') format('woff'),
    url('../library/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Black.eot');
    src: url('../library/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Black.woff2') format('woff2'),
    url('../library/fonts/Roboto-Black.woff') format('woff'),
    url('../library/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Italic.eot');
    src: url('../library/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Italic.woff2') format('woff2'),
    url('../library/fonts/Roboto-Italic.woff') format('woff'),
    url('../library/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-LightItalic.eot');
    src: url('../library/fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../library/fonts/Roboto-LightItalic.woff') format('woff'),
    url('../library/fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Medium.eot');
    src: url('../library/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Medium.woff2') format('woff2'),
    url('../library/fonts/Roboto-Medium.woff') format('woff'),
    url('../library/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-MediumItalic.eot');
    src: url('../library/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../library/fonts/Roboto-MediumItalic.woff') format('woff'),
    url('../library/fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Regular.eot');
    src: url('../library/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../library/fonts/Roboto-Regular.woff') format('woff'),
    url('../library/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* MAIN */
body {
	margin: 0;
}
body * {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
}
body #app {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    font-family: 'San Francisco UI Text', 'SFUIText', 'Roboto';
    overflow: hidden;
}
.row-main {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: all .5s;
}
.row-main.visible {
    transform: translateX(0%);
    display: block;
    box-shadow: -1px 0px 20px 0px #d8d8d8;
}
.row-main.hidden {
    transition: all 1s;
    transform: translateX(-20%);
    z-index: 0;
}

/* PRELOADER*/
#preloader {
    transform: translateX(0%);
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f7f9;
}
#preloader > .row-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#preloader > .row-body > img {
     width: 90px;
     height: 90px;
     /*-webkit-animation: pulsing 2s infinite;
     animation: pulsing 2s infinite;*/
}

/* CHAT HEADER */
#chat {
    background: #FFFFFF;
}
#chat > .row-header {
    display: flex;
    align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
    padding: 0.7rem 0.7rem; 
    background: #FFFFFF;
    height: 2.5rem;
    z-index: 2;
}
#chat > .row-header > .row-icon > .row-icon {
	position: relative;
}
#chat > .row-header > .row-icon > .icon-link {
	position: absolute;
    top: -10px;
    right: 0;
    bottom: 0;
    opacity: 0;
	width: 100px;
    height: 50px;
	z-index: 2;
}
#chat > .row-header > .row-icon:first-child > .icon-link {
    left: -10px;
}
#chat > .row-header > .row-icon:last-child > .icon-link {
    right: -25px;
}
#chat > .row-header > .row-icon > .icon-text {
	display: flex;
    align-items: center;
	color: #e01f27;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.18px;
}
#chat > .row-header > .row-icon > .icon-text > label {
	margin-left: 5px;
    margin-top: 2px;
}
#chat > .row-header > .row-text {
	display: flex;
	flex-basis: 100%;
    font-size: 20px;
    position: relative;
}
#chat > .row-header > .row-text > span {
	width: 100%;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family: SFUITheader;
    line-height: 18px;
    color: #292929;
}

/* CHAT INNER */
#chat .row-content {
    height: 100%;
}
#chat .row-content > .row-body {
    position: relative;
    height: 100%;
    width: 100%;
}
#chat .row-content > .row-body > .row-inner {
    position: absolute;
    top: 2.5rem;
    bottom: 3.5rem;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#chat .row-content .box-message > .message-stack {
	display: flex;
	/*flex-wrap: wrap;*/
    position: relative;
    margin-bottom: 0.33rem;
}
#chat .row-content .box-message > .message-stack.mess-in {
	justify-content: flex-end;
    text-align: right;
}
#chat .row-content .box-message > .message-stack > .message-stack-photo {
	position: sticky;
    left: 1rem;
    top: 0.3rem;
    margin-right: 1rem;
    bottom: auto;
    align-self: flex-start;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    z-index: 1;
	display: none;
    -webkit-user-select: none;
}
#chat .row-content .box-message > .message-stack > .message-stack-photo > img {
    border-radius: 500px;
    width: 44px;
    height: 44px;
}
#chat .row-content .box-message > .message-stack > .message-stack-content {
    width: 100%;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message {
	position: relative;
    padding: 0.3rem 0.7rem;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message {
	padding: 1rem;
    border-radius: 12px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: inline-block;  
    text-align: left;
	max-width: 80%;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-name: new-message;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .row-status {
	width: 100%;
	font-family: "roboto";
    display: none;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message:last-child > .row-status {
    display: block;
    animation: show-status 0.3s ease-in-out;
    -webkit-animation: show-status 0.3s ease-in-out;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .row-status > .status-text {
	display: flex;
    justify-content: flex-end;
    color: #626267;
    font-size: 0.8rem;
    padding: 0.3rem 0rem;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .row-status > .status-text > span {
	margin-right: 0.3rem;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message > .body-message {
	font-size: 18px;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media > .body-message {
	display: flex;
    flex-direction: column;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media > .body-message div {
	padding-bottom: 0.2rem;
    z-index: 2;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media > .body-message div.message-media {
	height: 196px;
    object-fit: cover;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media > .body-message img {
    display: block;
	width: 100%;
	height: 100%;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media > .body-message .item-attachment {
	display: flex;
    align-items: center;
    padding: 0.3rem;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media > .body-message .item-attachment > .label-icon {	
	display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: bold;
    color: #fff;
    border-radius: 500px;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media > .body-message .item-attachment > .label-text {	
	display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
	font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media > .body-message .item-attachment > .label-text > span {	
    overflow: hidden;
    text-overflow: ellipsis;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media > .body-message .item-attachment > .label-text > small {	
	text-transform: uppercase;
}
#chat .row-content .box-message > .message-stack.mess-in > .message-stack-content > .in-message > .text-message.in-message_media > .body-message .item-attachment > .label-text > small {	
	color: #FFFFFF;
}
#chat .row-content .box-message > .message-stack.mess-out > .message-stack-content > .in-message > .text-message.in-message_media > .body-message .item-attachment > .label-text > small {	
	color: #626267;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media > .info-message {
    position: absolute;
    right: 15px;
    bottom: 7px;
    z-index: 2;
    border-radius: 30px;
    padding: 0.2rem 0.3rem;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.45);
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message > .body-message > span {
	padding: 0.5rem 0.3rem 0.5rem 0.3rem;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media {
	position: relative;
    padding: 0.2rem;
	max-width: 80%;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message.in-message_media div:last-child {
    padding-bottom: 0;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message > .text-message > .info-message {
	font-size: 0.6rem;
    display: block;
    text-align: right;
    margin-right: -7px;
}
#chat .row-content .box-message > .message-stack.mess-out > .message-stack-content > .in-message > .text-message.in-message_media > .info-message {
	color: #e2f1fd;
}
#chat .row-content .box-message > .message-stack.mess-out > .message-stack-content > .in-message > .text-message > .info-message {
	color: #9e9e9e;
}
#chat .row-content .box-message > .message-stack.mess-in > .message-stack-content > .in-message > .text-message > .info-message {
	color: #e2f1fd;
}
#chat .row-content .box-message > .message-stack.mess-out > .message-stack-content > .in-message > .text-message {
	background-color: #f4f7f9;
    color: #222222;
}
#chat .row-content .box-message > .message-stack.mess-in > .message-stack-content > .in-message > .text-message {
	background-color: #0078fe;
    color: #fff;
}
#chat .row-content .box-message .mess-in .message-stack-content > div:nth-last-child(1) .text-message {
	border-bottom-right-radius: 0px;
}
#chat .row-content .box-message .mess-in .message-stack-content > div:nth-last-child(1) .text-message > .body-message > div:nth-last-child(1) > img {
	border-bottom-right-radius: 0px;
}
#chat .row-content .box-message .mess-in .message-stack-content .text-message > .body-message > div:first-child > img {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
#chat .row-content .box-message .mess-out .message-stack-content > div:nth-last-child(1) .text-message {
	border-bottom-left-radius: 0px;
}
#chat .row-content .box-message .mess-out .message-stack-content > div:nth-last-child(1) .text-message > .body-message > div:nth-last-child(1) > img {
	border-bottom-left-radius: 0px;
}
#chat .row-content .box-message .mess-out .message-stack-content .text-message > .body-message > div:first-child > img {
	border-top-right-radius: 12px!important;
	border-top-left-radius: 12px!important;
}
#chat .row-content .box-message .mess-in .message-stack-content .text-message > .body-message > div:first-child > img {
	border-top-left-radius: 12px!important;
	border-top-right-radius: 12px!important;
}
#chat .row-content .box-message .mess-out .in-message_media > .body-message > div:nth-last-child(1) > img  {
	border-bottom-right-radius: 12px!important;
}
#chat .row-content .box-message .mess-in .in-message_media > .body-message > div:nth-last-child(1) > img  {
	border-bottom-left-radius: 12px!important;
}
#chat .row-content .box-message > .message-stack > .mess-out {
	flex-basis: auto;
    max-width: 80%;
    margin-right: auto;
    margin-left: 0;
    background-color: #f4f7f9;
    border-radius: 12px;
	padding: 5px;
}
#chat .row-content .box-message > .message-stack.mess-out > .message-stack-content > .in-message.in-message_notice > .text-message > .header-message {
    color: #ff8414;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: -0.28px;
    padding-bottom: 0.5rem;
}
#chat .row-content .box-message > .message-stack.mess-out > .message-stack-content > .in-message.in-message_notice {
    display: flex;
}
#chat .row-content .box-message > .message-stack.mess-out > .message-stack-content > .in-message.in-message_notice > .reply-message {
    align-self: center;
    padding-left: 1rem;
}
#chat .row-content .box-message > .message-stack> .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > span  {
    padding: 0rem;
}
#chat .row-content .box-message > .message-stack> .message-stack-content > .in-message.in-message_comment > .text-message > .header-message {
    display: flex;
    padding-bottom: 0.5rem;
}
#chat .row-content .box-message > .message-stack> .message-stack-content > .in-message.in-message_comment > .text-message > .header-message > .header-icon {
    display: flex;
    align-items: flex-start;
    padding-right: 8px;
}
#chat .row-content .box-message > .message-stack> .message-stack-content > .in-message.in-message_comment > .text-message > .header-message > .header-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#chat .row-content .box-message > .message-stack> .message-stack-content > .in-message.in-message_comment > .text-message > .header-message > .header-body > span {
    opacity: 0.8;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#chat .row-content .box-message > .message-stack.mess-in > .message-stack-content > .in-message.in-message_comment > .text-message > .header-message > .header-body > span {
    color: #FFFFFF;
}
#chat .row-content .box-message > .message-stack.mess-out > .message-stack-content > .in-message.in-message_comment > .text-message > .header-message > .header-body > span {
    color: #222222;
}
#chat .row-content .box-message > .message-stack.mess-out > .message-stack-content > .in-message.in-message_comment > .text-message > .header-message > .header-body > span:first-child {
    color: #ff8414;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > .comment-media {
    display: flex;
    width: 100%;
    align-items: center;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > .message-media {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.2rem 0rem;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > .message-media > .item-attachment {
    display: flex;
    width: 100%;
    align-items: center;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > .message-media:last-child {
    padding-bottom: 0;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > .message-media > .item-attachment .label-icon {
    display: flex;
    width: 40px;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > .message-media > .item-attachment .label-icon > .img {
    height: 100%;
    width: 40px;
    height: 40px;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > .message-media > .item-attachment .label-icon > .img-border {
    border-radius: 500px;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > .message-media > .item-attachment .label-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding-left: 0.5rem;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > .message-media > .item-attachment .label-text > span {
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#chat .row-content .box-message > .message-stack > .message-stack-content > .in-message.in-message_comment > .text-message > .body-message > .message-media > .item-attachment .label-text > small {
    opacity: 0.6;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.28px;
}

/* CHAT FOOTER */
.row-footer {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	height: auto;
	background: #FFFFFF;
	z-index: 2;
}
.row-footer > .row-reply {
    display: flex;
    align-items: flex-start;
    background: #fff;
    width: 100%;
    padding: 0.3rem 0.7rem;
    position: relative;
}
.row-footer > .row-reply > .row-icon {
    position: absolute;
    width: 2rem;
    align-self: flex-end;
}
.row-footer > .row-reply > .row-icon:first-child {
    bottom: 0.5rem;
    display: none;
}
.row-footer > .row-reply > .row-icon:last-child {
    right: 0.7rem;
    top: 0.3rem;
    text-align: right;
}
.row-footer > .row-reply > .row-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 35px;
    padding: 0 0.7rem;
    border-left: 2px solid;
    border-color: #ff8414;
    margin-left: 2rem;
    padding-left: 0.5rem;
    color: #222222;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
    overflow: hidden;
    position: relative;
}
.row-footer > .row-reply > .row-body > .row-header {
    font-weight: 500;
    color: #ff8414;
}
.row-footer > .row-reply > .row-body > .row-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row-footer > .row-button {
	display: flex;
	align-items: center;
    padding: 0.5rem 0.7rem;
}
.row-footer > .row-button > .row-icon:first-child {
    bottom: 0.5rem;
}
.row-footer > .row-button > .row-icon:last-child {
	right: 0.5rem;
    bottom: 0.5rem;
}
.row-footer > .row-button > .row-text {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
    padding: 0 2.4rem 0 2rem;
}
.row-footer > .row-button > .row-icon {
	position: absolute;
	width: 2rem;
	align-self: flex-end;
	margin-bottom: 0.1rem;
}
.row-footer > .row-button >  .row-icon input[type="file"] {
    position: absolute;
    top: -10px;
    left: 0;
    bottom: -10px;
    width: 40px;
    opacity: 0;
	z-index: 2;
}
.row-footer > .row-button > .row-icon > .icon-count {
	position: absolute;
	top: -0.9rem;
    right: 0;
    background: #2dc970;
    border-radius: 500px;
    width: 22px;
    height: 22px;
    color: #FFFFFF;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    padding-right: 2px;
    border: 2px solid;
    border-color: #FFFFFF;
}
.row-footer > .row-button >  .row-text > textarea {
	width: 100%;
    height: 40px;
    font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	resize: none;
	border-radius: 21px;
	padding: 0.5rem 0.6rem;
	padding-top: 0.55rem;
	border: 1px solid;
	border-color: rgba(151, 153, 162, 0.44);
    background-color: #F8F8F8;
	max-height: 7rem;
}
.row-footer > .row-button > .row-text > textarea:focus {
	outline: none;
}
.row-footer .row-inline {
	padding: 0.3rem 0;
	border: 1px solid;
	border-color: rgba(151, 153, 162, 0.44);
	background-color: #F8F8F8;
    border-radius: 21px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.row-footer .row-inline > .row-wrapper {
	overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.row-footer .row-scroll {
	display: flex;
	width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
.row-footer .row-inline.active + textarea {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	border-top: 0;
}
.row-footer .row-scroll > .in-preview-item {
	padding-right: 0.3rem;
}
.row-footer .row-scroll > .in-preview-item:first-child {
	padding-left: 0.3rem;
}
.row-footer .row-scroll > .in-preview-item > .in-item {
	display: flex;
	min-width: 90px;
    max-width: 90px;
    height: 90px;
    position: relative;
}
.row-footer .row-scroll > .in-preview-item > .in-item > .in-preview-src {
	width: 100%;
    height: 100%;
    position: relative;
}
.row-footer .row-scroll > .in-preview-item > .in-item > .in-preview-src > img {
	width: 100%;
    height: 100%;
    border-radius: 12px;
}
.row-footer .row-scroll > .in-preview-item > .in-item > .in-preview-file {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #eee, #ddd);
	border-radius: 12px;
}
.row-footer .row-scroll > .in-preview-item > .in-item > .in-preview-file > .label-icon {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: bold;
    background-color: rgba(122, 122, 122, 0.6);
    color: #fff;
    border-radius: 500px;
    margin: .25rem 0 0 .25rem;
    padding-left: 1px;
	font-size: 0.85rem;
}
.row-footer .row-scroll > .in-preview-item > .in-item > .in-preview-file > .label-icon > i{
    font-size: 18px;
}
.row-footer .row-scroll > .in-preview-item > .in-item > .in-preview-file .label-name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #7a7a7a;
	font-size: 0.85rem;
	padding: .25rem;
}
.row-footer .row-scroll > .in-preview-item > .in-item > .in-preview-file .label-size {
	color: #7a7a7a;
	font-size: 0.85rem;
	padding: .25rem;
	padding-top: 0;
}
.row-footer .row-scroll > .in-preview-item > .in-item > .in-preview-preloader {
	position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    color: rgba(66, 66, 66, 0.85);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 254, 254, 0.4);
    border-radius: 12px;
}
.row-footer .row-scroll > .in-preview-item > .in-item > .in-preview-close {
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
    border-radius: 500px;
}
.row-footer .row-scroll > .in-preview-item > .in-item > .in-preview-close img {
	width: 100%;
}



/* SETTING HEADER */
#setting {
    background: #FFFFFF;
}
#setting > .row-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0.7rem;
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    background: #FFFFFF;
}
#setting > .row-header > .row-top {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 20px;
}
#setting > .row-header > .row-top > .row-icon {
    display: flex;
}
#setting > .row-header > .row-top > .row-icon > .icon-link {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -10px;
    top: -10px;
}
#setting > .row-header > .row-top > .row-text {
    width: 100%;
    text-align: center;
    color: #121313;
    font-family: SFUITheader;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}
#setting > .row-header > .row-tab {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
#setting > .row-header > .row-tab > .row-tap {
    width: 50%;
    padding: 10px 0px;
    text-transform: capitalize;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0179ff;
    border-radius: 5px;
    height: 30px;
    line-height: 8px;
    letter-spacing: -0.08px;
    font-weight: 400;
    color: #0179ff;
}
#setting > .row-header > .row-tab > .row-tap:first-child {
    border-top-right-radius: 0;
    border-right: 0;
    border-bottom-right-radius: 0;
}
#setting > .row-header > .row-tab > .row-tap:last-child {
    border-top-left-radius: 0;
    border-left: 0;
    border-bottom-left-radius: 0;
}
#setting > .row-header > .row-tab > .row-tap.active {
    color: #FFFFFF;
    background: #0078fe;
}
#setting > .row-content {
    height: 100%;
}
#setting > .row-content > .row-body {
    position: relative;
    height: 100%;
    width: 100%;
}
#setting > .row-content > .row-body > .row-inner {
    position: absolute;
    top: 46px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


/* TASK HEADER */

#job {
    background: #F8F8F8;
}
#job > .row-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0.7rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    background: #FFFFFF;
}
#job > .row-header > .row-top {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 20px;
}
#job > .row-header > .row-top > .row-icon {
    display: flex;
}
#job > .row-header > .row-top > .row-icon > .icon-link {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -10px;
    top: -10px;
}
#job > .row-header > .row-top > .row-text {
    width: 100%;
    text-align: center;
    color: #121313;
    font-family: SFUITheader;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}
#job > .row-header > .row-tab {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
#job > .row-header > .row-tab > .row-tap {
    width: 50%;
    padding: 10px 0px;
    text-transform: capitalize;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0179ff;
    border-radius: 5px;
    height: 30px;
    line-height: 8px;
    letter-spacing: -0.08px;
    font-weight: 400;
    color: #0179ff;
}
#job > .row-header > .row-tab > .row-tap:first-child {
    border-top-right-radius: 0;
    border-right: 0;
    border-bottom-right-radius: 0;
}
#job > .row-header > .row-tab > .row-tap:last-child {
    border-top-left-radius: 0;
    border-left: 0;
    border-bottom-left-radius: 0;
}
#job > .row-header > .row-tab > .row-tap.active {
    color: #FFFFFF;
    background: #0078fe;
}
#job > .row-content {
    height: 100%;
}
#job > .row-content > .row-body {
    position: relative;
    height: 100%;
    width: 100%;
}
#job > .row-content > .row-body > .row-inner {
    position: absolute;
    top: 93px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#job > .row-content > .row-body > .row-inner > .row-tab:not(.visible) {
    display: none;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box {
    padding-top: 1rem;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-label {
    font-size: 16px;
    color: #212121;
    padding: 0 0.7rem;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list {
    background: #fff;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 0.7rem;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list > .row-item {
    display: flex;
    padding: 0.7rem;
    position: relative;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list > .row-item:after {
    content: "";
    background: #efefef;
    width: calc(100% - 0.7rem);
    height: 1px;
    position: absolute;
    right: 0;
    left: 0.7rem;
    bottom: -1px;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list > .row-item:last-child:after {
    display: none;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list > .row-item > .row-pic {
    display: flex;
    align-items: center;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list > .row-item > .row-pic > img {
    width: 40px;
    height: 40px;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list > .row-item > .row-body {
    width: 100%;
    overflow: hidden;
    padding-left: 0.7rem;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list > .row-item > .row-body > .row-header {
    line-height: 24px;
    color: #292929;
    font-family: SFUIText;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list > .row-item > .row-body > .row-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #717171;
    width: 100%;
    font-size: 15px;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list.accepted > .row-item > .row-pic > img {
    width: 20px;
    height: 20px;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list > .row-none {
    padding: 0.7rem;
    overflow: hidden;
}
#job > .row-content > .row-body > .row-inner > .row-tab > .row-box > .row-list > .row-none > span {
    color: #717171;
    width: 100%;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* DETAIL HEADER */

#detail {
    background: #FFFFFF;
}
#detail > .row-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0.7rem;
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    background: #FFFFFF;
}
#detail > .row-header > .row-top {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 20px;
}
#detail > .row-header > .row-top > .row-icon {
    display: flex;
    align-self: flex-start;
}
#detail > .row-header > .row-top > .row-icon > .icon-link {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -10px;
    top: -10px;
}
#detail > .row-header > .row-top > .row-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #121313;
    font-family: SFUITheader;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}
#detail > .row-header > .row-top > .row-text > img {
    width: 48px;
    align-self: center;
}
#detail > .row-header > .row-top > .row-text > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    padding: .5rem 1rem 0rem;
}
#detail > .row-content {
    height: 100%;
}
#detail > .row-content > .row-body {
    position: relative;
    height: 100%;
    width: 100%;
}
#detail > .row-content > .row-body > .row-inner {
    position: absolute;
    top: 96px;
    bottom: 3.5rem;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-header > .row-list {
    background: #FFFFFF;
    padding: .7rem .7rem;
    font-weight: normal;
    box-sizing: border-box;
    position: relative;
    margin-top: 0;
    padding-top: 1rem;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-header > .row-list:after{
    content: "";
    background: #d8d8d8;
    width: calc(100% - 0.7rem);
    height: 1px;
    position: absolute;
    right: 0;
    left: 0.7rem;
    bottom: -1px;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-header > .row-list > li {
    display: flex;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-header > .row-list > li:last-child {
    padding-bottom: 0;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-header > .row-list > li .list-header {
    width: 60%;
    color: #878b9e;
    font-family: SFUIText;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-header > .row-list > li .list-text {
    width: 40%;
    color: #292929;
    font-family: SFUIText;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
#detail > .row-content > .row-body > .row-inner > .row-box .row-error {
    color: #292929;
    font-family: SFUIText;
    font-weight: 400;
    font-size: 15px;
    padding: .7rem;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-body > .row-text  {
    color: #878b9e;
    font-family: SFUIText;
    font-weight: 400;
    font-size: 15px;
    padding: .7rem;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment {
    margin-top: 1rem;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > label {
    font-family: SFUIText;
    font-size: 13px;
    font-weight: 400;
    padding: 0rem .7rem;
    text-transform: uppercase;
    color: #878b9e;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-preloader {
    position: absolute;
    left: 45%;
    top: 60%;
    padding: .7rem;
    text-align: center;
    color: #878b9e;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item {
     display: flex;
     flex-direction: column;
     padding: .7rem;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-header {
    padding-bottom: 10px;
    font-size: .85rem;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-header > span:first-child {
    color: #ff8414;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-header > span.violet:first-child {
    color: #924aec;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-header > span:last-child {
     font-size: .8rem;
     color: #878b9e;
     padding-left: .3rem;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-body {
    padding-bottom: 0.7rem;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-body:last-child {
    padding-bottom: 0;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-body > .row-list {

}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-body > .row-list > li {
    display: block;
    padding: 0.5rem 0;
    padding-bottom: 0;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-body > .row-list img {
    width: 100%
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-body > .row-list > .item-attachment {
     display: flex;
     align-items: center;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-body > .row-list > .item-attachment > .label-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: bold;
    background-color: #2196f3;
    color: #fff;
    border-radius: 500px;
    padding: 5px 9px;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-body > .row-list > .item-attachment > .label-text {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-body > .row-list > .item-attachment > .label-text > span {
    overflow: hidden;
    text-overflow: ellipsis;
}
#detail > .row-content > .row-body > .row-inner > .row-box > .row-comment > .row-list > .row-item > .row-body > .row-list > .item-attachment > .label-text > small {
    text-transform: uppercase;
}

.row-developer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: #717171;
}
.row-developer > span {
    text-align: center;
    padding-top: 1rem;
}
.row-developer > i {
    font-size: 3rem;
}




