@font-face {
    font-family: 'Linearicons';
    src: url('../library/fonts/Linearicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIText';
    src: url('../library/fonts/SFUIText-Regular.eot');
    src: url('../library/fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/SFUIText-Regular.woff') format('woff'),
    url('../library/fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUITheader';
    src: url('../library/fonts/SFUIText-Semibold.eot');
    src: url('../library/fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/SFUIText-Semibold.woff') format('woff'),
    url('../library/fonts/SFUIText-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUITlight';
    src: url('../library/fonts/SFUIText-Light.eot');
    src: url('../library/fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/SFUIText-Light.woff') format('woff'),
    url('../library/fonts/SFUIText-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUITMedium';
    src: url('../library/fonts/SFUIText-Medium.eot');
    src: url('../library/fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/SFUIText-Medium.woff') format('woff'),
    url('../library/fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUITBold';
    src: url('../library/fonts/SFUIText-Bold.eot');
    src: url('../library/fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/SFUIText-Bold.woff') format('woff'),
    url('../library/fonts/SFUIText-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Bold.eot');
    src: url('../library/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Bold.woff2') format('woff2'),
    url('../library/fonts/Roboto-Bold.woff') format('woff'),
    url('../library/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-BoldItalic.eot');
    src: url('../library/fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../library/fonts/Roboto-BoldItalic.woff') format('woff'),
    url('../library/fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-BlackItalic.eot');
    src: url('../library/fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../library/fonts/Roboto-BlackItalic.woff') format('woff'),
    url('../library/fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-ThinItalic.eot');
    src: url('../library/fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../library/fonts/Roboto-ThinItalic.woff') format('woff'),
    url('../library/fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Light.eot');
    src: url('../library/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Light.woff2') format('woff2'),
    url('../library/fonts/Roboto-Light.woff') format('woff'),
    url('../library/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Thin.eot');
    src: url('../library/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Thin.woff2') format('woff2'),
    url('../library/fonts/Roboto-Thin.woff') format('woff'),
    url('../library/fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Black.eot');
    src: url('../library/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Black.woff2') format('woff2'),
    url('../library/fonts/Roboto-Black.woff') format('woff'),
    url('../library/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Italic.eot');
    src: url('../library/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Italic.woff2') format('woff2'),
    url('../library/fonts/Roboto-Italic.woff') format('woff'),
    url('../library/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-LightItalic.eot');
    src: url('../library/fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../library/fonts/Roboto-LightItalic.woff') format('woff'),
    url('../library/fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Medium.eot');
    src: url('../library/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Medium.woff2') format('woff2'),
    url('../library/fonts/Roboto-Medium.woff') format('woff'),
    url('../library/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-MediumItalic.eot');
    src: url('../library/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../library/fonts/Roboto-MediumItalic.woff') format('woff'),
    url('../library/fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../library/fonts/Roboto-Regular.eot');
    src: url('../library/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../library/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../library/fonts/Roboto-Regular.woff') format('woff'),
    url('../library/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: 'San Francisco UI Text', 'SFUIText', 'Roboto';
    color: #212121;
    background: #f8f8f8;
}
html * {
    -webkit-tap-highlight-color: transparent;
}
* {
    box-sizing: border-box;
}
input::-webkit-input-placeholder {
    color: #c8c8ce;
}
input::-moz-placeholder {
    color: #c8c8ce;
}
.box {
    width: 100%;
    height: 100%;
}
.container {
    max-width: 100%;
    padding: 0;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}
.logo > img{
    width: 12rem;
}
.item-section:nth-child(1) {
    margin-bottom: 35px;
}
.item-section:nth-child(2) {
    margin-bottom: 10px;
}
.item-section:nth-child(3) {
    margin-bottom: 20px;
}
.item-section > .label-warning {
    padding: 10px 16px;
    color: #e21f27;
    letter-spacing: -0.3px;
    font-weight: 400;
    font-size: 13px;
    position: absolute;
    display: none;
}
.item-section > .btn-send {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 80px;
    height: 48px;
    box-shadow: 0 1px 0 #bfbfbf;
    background-color: #257d8e;
    letter-spacing: -0.32px;
}
.item-section > .btn-send > span {
    position: absolute;
    left: 0;
    width: 65px;
    font-size: 33px;
    border-right: 1px solid #4b929f;
    text-decoration: none;
    height: 100%;
    text-align: center;
}
.item-section > .btn-send > input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
}
.item-section > .btn-recall {
    height: 18px;
    color: #0b80ff;
    font-family: SFUITlight;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.39px;
    padding-left: 16px;
    text-decoration: none;
}
.item-field {
    background: #ffffff;
}
.item-field:first-child::after {
    content: "";
    width: calc(100% - 16px);
    border-bottom: 1px solid #c8c8ce;
    margin-left: 16px;
    position: absolute;
}
.block-field {
    display: flex;
    align-items: center;
}
.block-field > label{
    width: 100px;
    padding: 0px 50px 0px 16px;
    font-size: 17px;
}
.block-field > input {
    display: block;
    width: 100%;
    background: none;
    height: 44px;
    font-size: 18px;
    border-radius: 0;
    letter-spacing: -0.41px;
    border: 0;
}
.block-field > input:focus {
    outline: none;
}


