@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes row-main-show {
    0% {
        display: none;
        top: -60px;
    }
    1% {
        display: block;
    }
    100% {
        top: 0;
    }
}

@keyframes row-main-hide {
    0% {
        display: block;
        top: 0;
    }
    99% {
        top: -60px;
    }
    100% {
        display: none;
    }
}

.new-message-enter-active, .new-message-leave-active {
    transition: all 0.5s;
}
.new-message-enter, .new-message-leave-to {
    opacity: 0;
    transform: translateY(100%);
}

@keyframes new-message {
    0% {
        top: calc(var(--msg-content-height) - var(--msg1-height));
        left: -4em;
        transform: scale(0);
    }
    5% {
        top: calc(var(--msg-content-height) - var(--msg1-height));
        left: 0;
        transform: scale(1);
    }
    12% {
        top: calc(var(--msg-content-height) - var(--msg1-height));
    }
    17% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height));
    }
    30% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height));
    }
    35% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
    }
    49% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
    }
    54% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
    }
    70% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
    }
    75% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
    }
    95% {
        top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
    }
    100% {
        top: 0;
        left: 0;
    }
}