<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Операторский чат</title>
</head>
<body>

<div id="app">

    <div class="chat">
        <div class="chat-users collection">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12" style="text-align: center;">
                        <span>Онлайн пользователи</span>
                    </div>
                </div>
            </nav>

            <a
                    class="collection-item "
                    v-for="u in usersList"
                    :class="{'online': u.online, 'notify': u.notify }"
                    @click="initializeRoom(u)"
            >
                {{u.name}}
            </a>
        </div>
        <div class="chat-messages" ref="messages">
            <message-stack
                    v-for="(m, idx) in messages"
                    :item="m"
                    :user="user"
                    :index="idx"
                    :key="idx"
            ></message-stack>
        </div>
        <div class="chat-users collection">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12" style="text-align: center;">
                        <span>Кто участвует в переписке</span>
                    </div>
                </div>
            </nav>

            <a
                    class="collection-item"
                    v-for="u in users"
                    :class="{'active': u.id === user.id}"
            >
                {{u.name}}
            </a>
        </div>

    </div>
    <div class="actions">
        <div class="input-field">
            <input
                    type="text"
                    placeholder="Type your message..."
                    v-model.trim="message"
                    autofocus
                    autocomplete="false"
                    @keydown.enter="sendMessage"
            >
        </div>
        <button
                class="btn"
                @click="sendMessage"
                :disabled="message.length === 0"
        >Send</button>
    </div>
    <div class="actions">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="uploadFiles" id="in-upload-input" value="Upload" multiple @change="initializeUploadFile($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
          </div>
        </div>
    </div>

    <ul id="preview"></ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
</body>
</html>