<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Клиенты ГБА - LiveChat</title>
  <meta name="description" content="Responsive, Bootstrap, BS4" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="img/logo.svg">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  
  <!-- style -->
  <link rel="stylesheet" href="/css/Operator/animate.css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/Operator/glyphicons/glyphicons.css" type="text/css" />
  <link rel="stylesheet" href="/css/Operator/magnific-popup/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="/css/Operator/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/Operator/material-design-icons/material-design-icons.css" type="text/css" />
  <link rel="stylesheet" href="/css/Operator/ionicons/css/ionicons.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/Operator/simple-line-icons/css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="/css/Operator/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/Operator/ekko-lightbox/ekko-lightbox.css" type="text/css" />

  <!-- build:css css/styles/app.min.css -->
  <link rel="stylesheet" href="/css/Operator/styles/app.css" type="text/css" />
  <link rel="stylesheet" href="/css/Operator/styles/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/Operator/styles/style.css" type="text/css" />
  <link rel="stylesheet" href="/css/Operator/styles/jquery.mCustomScrollbar.min.css" type="text/css" />
  
  <!-- endbuild -->
  <link rel="stylesheet" href="/css/Operator/styles/font.css" type="text/css" />
  
</head>
<body>

  <!-- ############ LAYOUT START-->
  <div class="app" id="app">

	<!-- aside -->
	<div id="aside" class="app-aside fade nav-dropdown black">
  
		<!-- fluid app aside -->
		<div class="navside dk" data-layout="column">
			<div class="navbar no-radius">
				<!-- brand -->
				<a href="index.html" class="navbar-brand">
					<div data-ui-include="'img/logo.svg'"></div>
					<img src="img/logo.svg" alt="." class="">
					<span class="hidden-folded inline">Клиенты ГБА</span>
				</a>
				<!-- / brand -->
			</div>
			<div data-flex class="hide-scroll">
				<nav class="scroll nav-stacked nav-stacked-rounded nav-color">
					<ul class="nav" data-ui-nav>
						<li class="nav-header hidden-folded">
							<span class="text-xs">Основные</span>
						</li>
						<li class="active">
							<a href="#" class="b-info">
							  <span class="nav-icon text-white no-fade">
								<i class="ion-chatbubble-working"></i>
							  </span>
							  <span class="nav-text">Чат</span>
							</a>
						</li>
					    <li>
							<a href="#" class="b-default">
							  <span class="nav-icon">
								<i class="ion-gear-b"></i>
							  </span>
							  <span class="nav-text">Настройки</span>
							</a>
					    </li>
					</ul>
				</nav>
			</div>
			<div data-flex-no-shrink>
				<div class="nav-fold">
					<div class="pull-right text-sm text-muted">v 1.0.1</div>
					<span class="text-sm text-muted">Главбух Ассистент</span>
				</div>
			</div>
		</div>
	</div>
    <!-- / -->
  
    <!-- content -->
	<div id="content" class="app-content box-shadow-z2 pjax-container" role="main">

		<div class="app-body">

			<!-- ############ PAGE START-->
			<div class="app-loader-inner" v-if="loading.startBox === 0">
				<img src="img/logo.svg" alt="loader-body">
			</div>

			<div class="app-body-inner hide">
				<div class="row-col">
					<div class="app-container-col">
						<div class="left-box-col aside-sm b-r" id="list">
							<div class="row-col dark-white">

								<!-- header -->
								<div class="list-users__top ">
									<div class="list-search__top">
										<form>
											<span class="btn btn-sm btn-icon rounded default-icon" data-toggle="modal" data-target="#aside"><i class="ion-navicon"></i></span>
											<div class="input-group b-a b-transparent">
												<span class="search-group-btn">
													<input type="text" class="form-control no-border" v-model.trim="search" placeholder="Введите имя пользователя">
													<button class="btn no-bg no-shadow" type="button" v-show="search.length > 0" @click="search = ''">
														<i class="ion-close-circled"></i>
													</button>
												</span>
											</div>
										</form>
									</div>
								</div>
								<!-- / -->
							
								<!-- flex content -->
								<div class="list-users__list row-row">
									<div class="row-body scrollable hover">
										<div class="row-inner">

											<!-- left content -->
											<div class="list inset" data-ui-list="info">
												<div class="list-item"
													 v-for="u in usersList"
													 :class="{'active info': u.attributes.current, 'notify': u.attributes.notify}"
													 @click="initializeRoom(u, $event)"
												>
													<div class="list-left">
														<span class="w-40 avatar w-default img-circle">{{u.short_name}}<i class="on b-white bottom" v-if="u.attributes.online"></i></span>
													</div>
													<div class="list-body">
														<span class="label" v-if="u.attributes.unread">
															{{u.attributes.unread}}
														</span>
														<div class="item-title">
															<span class="_500">{{u.display_name}}</span>
														</div>
														<small class="block text-muted text-ellipsis">
															{{u.company}}
														</small>
													</div>
												</div>
											</div>
											<!-- / -->

										</div>
									</div>
								</div>
								<!-- / -->
							
								<!-- footer -->
								<div class="list-footer__settings p-a b-t clearfix">
									<div class="dropdown dropup inline pull-right">
										<a class="nav-link" data-toggle="dropdown" aria-expanded="false">
											<span class="btn btn-sm btn-icon default-icon rounded">
												<i class="fa fa-gear"></i>
											</span>
										</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Активность<i class="fa fa-sort-amount-desc"></i></a>
											<a class="dropdown-item" href="#">Активность<i class="fa fa-sort-amount-asc"></i></a>
											<a class="dropdown-item" href="#">По алфавиту<i class="fa fa-sort-alpha-desc"></i></a>
											<a class="dropdown-item" href="#">По алфавиту<i class="fa fa-sort-alpha-asc"></i></a>
										</div>
									</div>
									<span class="text-sm text-muted">Настройки списка</span>
								</div>
								<!-- / -->
							
							</div>
						</div>

						<div class="inner-box-col">

							<div class="empty-box-col" v-if="loading.innerBox === 0">
								<i class="ion-chatbubbles"></i>
								<span>Пожалуйста, выберите диалог...</span>
							</div>
							<div class="view-box-col" v-else>
								<div class="box-inner-message" id="detail">
									<div class="flex-dir-col dark-white">

										<!-- header -->
										<div class="dark-white b-b">
											<div class="navbar">

												<!-- nabar right selected-->
												<div class="navbar-selected" v-if="selected.length">
													<ul class="nav navbar-nav navbar-message-selected pull-right m-l">
														<li class="nav-item">
															<a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Удалить">
														<span class="btn btn-sm btn-icon rounded default-icon">
															<i class="fa fa-trash"></i>
														</span>
															</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" data-toggle="modal" data-target="#send-taskmanager" data-ui-toggle-class="zoom" data-ui-target="#animate-taskmanager" @click="openPlanner()">
																<span class="btn btn-sm info">Создать задачу</span>
															</a>
														</li>
													</ul>
													<div class="navbar-item navbar-message-count text-ellipsis">
														<span>{{selected.length}}</span>
														<span>{{declOfNum(selected.length)}}</span>
														<button class="btn in_deselect_all btn-sm" @click="clearSelected()">
															<i class="ion-close"></i>
														</button>
													</div>
												</div>
												<!-- / navbar right selected-->

												<!-- navbar right -->
												<div class="navbar-usualy" v-else>
													<ul class="nav navbar-nav navbar-message-default pull-right m-l">
														<li class="nav-item" @click="loadingMessage()">
															<a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Подгрузить">
														<span class="btn btn-sm btn-icon rounded info">
															<i class="fa fa-spinner"></i>
														</span>
															</a>
														</li>
														<li class="nav-item aside-lg" @click="profileShow = !profileShow">
															<a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Профиль">
															<span class="btn btn-sm btn-icon rounded default-icon">
																<i class="fa fa-ellipsis-v"></i>
															</span>
															</a>
														</li>
													</ul>
													<span class="navbar-item navbar-message-name text-ellipsis">
														{{profile.user.display_name}}
													</span>
												</div>
											</div>
										</div>
										<!-- / -->

										<!-- flex content -->
										<div class="loading-body-message" v-if="loading.messageBox === 0">
											<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
										</div>

										<div class="box-body-message" v-else-if="loading.messageBox === 1">
											<div class="row-body">
												<div class="row-inner">
													<!-- content -->
													<div class="box-message p-a-sm" ref="messages" :class="{'mode-selected': selected.length}">
														<message-stack
																v-for="(m, idx) in messages"
																:item="m"
																:user="user"
																:key="idx"
														></message-stack>
													</div>
													<!-- / -->
												</div>
											</div>
										</div>

										<div class="loading-body-message" v-else>
											<small class="block text-muted">
												Здесь будет выводиться история переписки.
											</small>
										</div>

										<!-- / -->
										<div class="chat-footer__block p-a b-t dark-white">
											<div class="input-group-message">
												<span class="input-group-upload">
													<button class="btn no-bg no-shadow default-icon" type="button">
														<input class="input-hidden-file" type="file" name="uploadFiles" id="in-upload-input" value="Upload" multiple @change="initializeUploadFile($event)">
														<i class="fa fa-paperclip"></i>
													</button>
												</span>
												<textarea type="text" class="form-control no-border" placeholder="Введите сообщение" style="resize: none;" v-model.trim="message" autocomplete="false" @keydown.enter="sendMessage"></textarea>
												<span class="input-group-send">
													<button class="btn no-bg no-shadow info-icon" type="button" @click="sendMessage">
														<i class="fa fa-send"></i>
													</button>
												</span>
											</div>
											<div class="input-group-preview" ref="previews">
												<attachment-view
														v-for="(p, idx) in previews"
														:item="p"
														:key="idx"
												></attachment-view>
											</div>
										</div>
									</div>
								</div>
								<div class="right-box-col aside-lg" id="profile" v-show="profileShow">
									<div class="row-col b-l">
										<div class="header-profile__box box-shadow-info">
											<div class="navbar">
												<h6 class="text-muted m-a-0">Информация о клиенте</h6>
											</div>
											<ul class="list-group no-border">
												<li class="list-group-item">
													<span class="pull-left w-56 w-default img-circle text-md m-r">АК</span>
													<div class="clear">
														<span class="_500 block">{{profile.user.display_name}}</span>
														<span class="text-muted text-ellipsis">{{profile.user.company}}</span>
													</div>
												</li>
											</ul>
										</div>
										<div class="box-shadow-info">
											<ul class="nav">
												<li class="nav-item nav-hover">
													<a class="nav-link block">
														<label class="md-switch pull-right">
															<input type="checkbox" checked="" class="has-value">
															<i class="blue"></i>
														</label>
														<i class="fa fa-bell m-r"></i>
														<span>Уведомления</span>
													</a>
												</li>
											</ul>
										</div>
										<div class="box-shadow-info">
											<ul class="nav nav-profile-item">
												<li class="nav-item nav-hover" data-toggle="modal" data-target="#profile-photo" @click="loadingPhoto(0)">
													<a class="nav-link block">
														<i class="fa fa-image"></i>
														<span>Фотографии</span>
													</a>
												</li>
												<li class="nav-item nav-hover" data-toggle="modal" data-target="#profile-document" @click="loadingFiles(0)">
													<a class="nav-link block">
														<i class="fa fa-file"></i>
														<span>Документы</span>
													</a>
												</li>

											</ul>

										</div>
										<div class="box-shadow-info info-footer-shadow row-row">
											<div class="info-header">
												<i class="fa fa-users m-r"></i>
												<span class="m-a-0">Ассистенты беседы</span>
											</div>
											<div class="row-body scrollable hover">
												<div class="row-inner p-b-2">

													<!-- content -->
													<div class="list inset list-operator__dialog p-b-3" ref="profile.assistants" v-if="profile.assistants.length">

														<assistant-dialog
																v-for="(user, idx) in profile.assistants"
																:item="user"
																:key="idx"
														></assistant-dialog>
													</div>
													<!-- / -->

													<div class="info-header" v-else>
														<small class="block text-muted">
															Список ассистентов беседы пуст.
														</small>
													</div>

												</div>
											</div>
										</div>
									</div>
									<!-- / -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!---- MODAL ---->
			
			<!-- Modal Images -->
			<div class="modal fade inactive modal-window-xl" id="profile-photo" data-backdrop="false" aria-hidden="true">
				<div class="modal-right w-xl white b-l">
					<div class="row-col">
						<a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
						<div class="modal-header p-a b-b">
						  <span class="h5">Фотографии</span>
						</div>
						<div class="row-row">
							<div class="row-body">
								<div class="row-inner">
									<div class="row-center-profile" v-if="profile.images.loading === 0">
										<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
									</div>
									<div class="list-group list-group-images no-radius no-borders" v-else-if="profile.images.loading === 1">
										<div class="list inset list-operator__dialog p-b-3" ref="profile.images.collection">
											<profile-image
												v-for="(item, idx) in profile.images.collection"
												:item="item"
												:key="idx"
											></profile-image>
										</div>
									</div>
									<div class="row-center-profile" v-else-if="profile.images.loading === 2">
										<span><i class="fa fa-image"></i></span>
										<small class="block text-muted">
											Вложения отсутствуют
										</small>
									</div>
									<div class="row-center-profile" v-else="profile.images.loading === 3">
										<small class="block text-muted">
											Произошла ошибка при загрузке вложений.
										</small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- / -->
					
			<!-- Modal documents -->
			<div class="modal fade inactive modal-window-xl" id="profile-document" data-backdrop="false" aria-hidden="true">
				<div class="modal-right w-xl white b-l">
					<div class="row-col">
						<a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
						<div class="modal-header p-a b-b">
						  <span class="h5">Документы</span>
						</div>
						<div class="row-row">
							<div class="row-body">
								<div class="row-center-profile" v-if="profile.documents.loading === 0">
									<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
								</div>
								<div class="list list-group-document inset" v-else-if="profile.documents.loading === 1" ref="profile.documents.collection">
									<profile-file
											v-for="(item, idx) in profile.documents.collection"
											:item="item"
											:key="idx"
									></profile-file>
								</div>
								<div class="row-center-profile" v-else-if="profile.documents.loading === 2">
									<span><i class="fa fa-file"></i></span>
									<small class="block text-muted">
										Вложения отсутствуют
									</small>
								</div>
								<div class="row-center-profile" v-else="profile.documents.loading === 3">
									<small class="block text-muted">
										Произошла ошибка при загрузке вложений.
									</small>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- / -->
					
			<!-- Modal Taskmanager -->
			<div class="modal fade animate black-overlay modal-window-inner" id="send-taskmanager" data-backdrop="true" data-ui-class="zoom" aria-hidden="true">
				<div class="modal-dialog modal-window-lg" id="animate-taskmanager">
					<div class="modal-content">
						<div class="modal-header">
							<h6 class="modal-title">Создать задачу</h6>
						</div>
						<div class="modal-body modal-body-task">
							<div class="box no-shadow">
								<div class="box-body">
									<p class="text-muted">Пожалуйста, заполните информацию, чтобы продолжить</p>
									<div class="row m-b">
										<div class="col-sm-6">
											<label>От клиента</label>
											<div class="p-b">
												<div class="list-left">
													<span class="w-40 avatar w-default img-circle">{{profile.user.short_name}}</span>
												</div>
												<div class="list-body">
													<div class="item-title">
													<span class="_500">{{profile.user.display_name}}</span>
													</div>
												<small class="block text-muted text-ellipsis">
													{{profile.user.company}}
												</small>
											  </div>
											</div>
										</div>
										<div class="col-sm-6">
											<label>Постановщик задачи</label>
											<div class="p-b">
												<div class="list-left">
													<span class="w-40 avatar w-default img-circle">{{user.short_name}}</span>
												</div>
											  <div class="list-body">
												<div class="item-title">
												  <span class="_500">{{user.display_name}}</span>
												</div>
												<small class="block text-muted text-ellipsis">
													{{user.company}}
												</small>
											  </div>
											</div>  
										</div>   
									</div>
									<div class="row m-b">
										<div class="col-sm-6">
											<label>Название задачи</label>
											<div class="box collapse in m-a-0">
												<input type="text" class="form-control no-border">
											</div> 
										</div>
										<div class="col-sm-6">
											<label>Срок задачи</label>
											<div class="box collapse in m-a-0">
												<input type="text" class="form-control has-value no-border" data-ui-jp="datetimepicker">
											</div> 
										</div>   
									</div>
									<div class="form-group">
										<label>Тип задачи</label>
										<div class="btn-flex">
											<button class="btn btn-type-task m-b-sm selected"><i class="fa fa-plus pull-left"></i>Подготовить документы</button>
											<button class="btn btn-type-task m-b-sm"><i class="fa fa-plus pull-left"></i>Обработать документы</button>
											<button class="btn btn-type-task m-b-sm"><i class="fa fa-plus pull-left"></i>Клиентский запрос</button>
										</div>
									</div>
									<div class="row m-b">
										<div class="col-sm-6">
											<label>Описание задачи</label>
											<div class="box collapse in m-a-0">
												<textarea class="form-control no-border" rows="6" placeholder="Введите описание задачи..."></textarea>
											</div>
										</div>
										<div class="col-sm-6">
											<label>Комментарий к задаче</label>
											<div class="box collapse in m-a-0">
												<textarea class="form-control no-border" rows="6" placeholder="Введите комментарий к задаче..."></textarea>
											</div>
										</div>   
									</div>
									<div class="row m-b">
									  	<div class="col-sm-6">
											<label>Прикрепленные сообщения</label>
											<div class="box-message">
												<div class="message-stack mess-in">
													<div class="message-stack-photo">
														<span class="w-40 avatar img-circle">ИН</span>
													</div>
													<div class="in-message in-message_selected">
														<div class="text-message">
															<span class="body-message">Новое сообщение от клиента с расширенным textarea!</span>
															<div class="info-message">
																<span>15:01</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<label>Прикрепленные файлы</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn danger p-x-md" data-dismiss="modal">Отменить</button>
							<button type="button" class="btn info p-x-md" data-dismiss="modal">Создать задачу</button>
						</div>
					</div><!-- /.modal-content -->
				</div>
			</div>
			<!-- / -->
			
			<!-- END MODAL -->
					
		</div>

	<!-- ############ PAGE END-->
	</div>

  
	<!-- ############ SWITHCHER START-->
	<div id="switcher">
		<div class="switcher dark-white" id="sw-theme">
			<a href="#" data-ui-toggle-class="active" data-ui-target="#sw-theme" class="dark-white sw-btn">
				<i class="fa fa-gear text-muted"></i>
			</a>
			<div class="box-header box-header-switcher">
				<strong>Настройки приложения</strong>
			</div>
			<div class="box-divider"></div>
			<div class="box-body">
				<p id="settingLayout" class="hidden-md-down">
					<label class="md-check m-y-xs" data-target="folded">
						<input type="checkbox">
						<i></i>
						<span>Скрыть меню</span>
					</label>
				</p>
			</div>
		</div>
	</div>
	<!-- ############ SWITHCHER END-->

  <!-- ############ LAYOUT END-->
  </div>

  <!-- build:js scripts/app.min.js -->

  <!-- jQuery -->
  <script src="js/library/Operator/jquery.js"></script>

  <!-- Vue JS -->
  <script src="js/library/vue.js"></script>

  <!-- Axios -->
  <script src="js/library/axios.min.js"></script>

  <!-- Socket.io -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Bootstrap -->
  <script src="js/library/Operator/tether.min.js"></script>
  <script src="js/library/Operator/bootstrap.js"></script>
  
  <!-- core -->
  <script src="js/library/Operator/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/library/Operator/jquery.storageapi.min.js"></script>
  <script src="js/library/Operator/jquery.blockUI.js"></script>
  <script src="js/library/Operator/jquery.jscroll.min.js"></script>
  <script src="js/library/Operator/jquery.magnific-popup.min.js"></script>
  <script src="js/library/Operator/ekko-lightbox.js"></script>
  <script src="js/library/Operator/perfect-scrollbar.js"></script>
  <script src="js/library/Operator/underscore.min.js"></script>
  <script src="js/library/Operator/ui-toggle-class.js"></script>
  <script src="js/library/Operator/ui-nav.js"></script>
  <script src="js/library/Operator/file.size.js"></script>

  <script src="js/library/Operator/app.js"></script>
  <script src="js/library/Operator/app-engine.js"></script>

  <script src="js/main.js"></script>
  
 <!-- endbuild -->
 
</body>
</html>